.App {
  background-color: #556B2F50;
}

.App-header {
  background-color: white;
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: black;
  border: 1px solid black;
  padding: 5px;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}
